# SPDX-FileCopyrightText: 2026 biro98
# SPDX-License-Identifier: MIT

resource_group_name = "rg-tf-lab10-ref10"
location            = "swedencentral"
unique_suffix       = "ref10"

private_dns_zones = {
  blob  = "privatelink.blob.core.windows.net"
  vault = "privatelink.vaultcore.azure.net"
}

tags = {
  environment = "training"
  owner       = "network-team"
  lab         = "lab10"
}
