# SPDX-FileCopyrightText: 2026 biro98
# SPDX-License-Identifier: MIT

resource_group_name = "rg-tf-lab08-solution-u01"
location            = "swedencentral"
unique_suffix       = "solution-u01"
management_cidr     = "203.0.113.10/32"
subnets = {
  application       = { address_prefix = "10.8.1.0/24" }
  data              = { address_prefix = "10.8.2.0/24" }
  private_endpoints = { address_prefix = "10.8.3.0/24" }
}
