# SPDX-FileCopyrightText: 2026 biro98
# SPDX-License-Identifier: MIT

location            = "swedencentral"
unique_suffix       = "ref02"
resource_group_name = "rg-tf-lab02-ref02"
vnet_name           = "vnet-tf-lab02-ref02"
vnet_address_space  = "10.2.0.0/16"
subnet_name         = "snet-application"
subnet_prefix       = "10.2.1.0/24"
