# SPDX-FileCopyrightText: 2026 biro98
# SPDX-License-Identifier: MIT

resource_group_name = "rg-tf-lab06-ref06"
location            = "swedencentral"
unique_suffix       = "ref06"
subnets = {
  application = { address_prefix = "10.6.1.0/24" }
  data        = { address_prefix = "10.6.2.0/24" }
}
